@import url(./css/reset.css);
@import url(./css/theme.css);

body {
  font-size: var(--text-sm);
  width: var(--container-width);
}

/* clip-path 모양대로 잘라내는 -> inset() : 사각형 정의 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
}

.logo {
  position: relative;
}

.logo img {
  width: var(--logo-size);
  height: var(--logo-size);
  margin: 0 var(--spacing-xl);
}

.logo i {
  position: absolute;
  font-size: 0.5rem;
  color: var(--signature-color);
  right: var(--spacing-xl);
  bottom: -2px;
}

.menu {
  display: flex;
  flex-direction: row nowrap;
  line-height: var(--line-height);
  font-weight: bold;
}

.menuItem {
  margin-right: var(--spacing-md);
}

.menuItem:nth-child(2)::after {
  display: block;
  content: "";
  border-top: 5px solid var(--signature-color);
}

.menuItem a:hover {
  color: var(--signature-color);
}

.member {
  display: flex;
  flex-direction: row nowrap;
  margin: var(--spacing-xl);

  font-weight: bold;
}

.member li {
  margin: 0 var(--spacing-xs);
}

.findStore {
  margin-right: var(--spacing-base);
}

.findStore i {
  margin-right: var(--spacing-xxs);
}

.button {
  padding: var(--spacing-xxs) var(--spacing-sm);
  border: 1px solid black;
  border-radius: 1rem;
}

.join {
  background-color: black;
  color: var(--color-white);
}

/* main */

/* mainTitleWrapper */
.mainTitleWrapper {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: var(--mainTitle-color);
  padding: var(--spacing-base) 7.125rem;
  color: var(--color-white);
  font-weight: bold;
  border-top: 1px solid var(--color-white) ;
}

.mainTitle i{
  position: relative;
  font-size: 0.5rem;
  top: -0.2rem;
}

/* rewards */

.rewards {
  display: flow-root;
  background-color:var( --rewards-color);
  /* padding: 7.825rem 0 ; */
}

.rewardsContents{
  height:12.5rem;
  float: left;
  margin: var(--spacing-xxl) var(--spacing-xl);
}

.rewardsContentTitle{
  width: 15rem;
  font-size: var(--text-xl);
  font-weight: bold;
  margin-bottom: var(--spacing-base);
}

.rewardsContentSub{
  font-size: var(--text-base);
  font-weight: bold;
}

.joinNow{
  display: block;
  width: 4.5rem;
  margin: var(--spacing-xl) 0 var(--spacing-md) 0;
  background-color: var(--signature-color);
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  color:var( --color-white);
}

.joinApp{
  text-decoration: underline;
}

.rewardsVisual{
  float: right;
  width: 35rem;
  height: 28.5rem;
  background: url("img/starbucks_visual.png") no-repeat right -280px center/cover;
}













.start {
  background-color: lightgrey;
}

.useStar {
  background-color: lightpink;
}

.benefit {
  background-color: lightgrey;
}

.earnStars {
  background-color: skyblue;
}
